.detail-container{
    display: flex;
    width: 100%;
    margin: 25px;
    padding: 50px;
}

.detail-img {
    width: 25%;
}

.detail-subcontainer {
    margin-left: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detail-product {
    display: flex;
    align-items: center;
    flex-direction: column;
}